body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://images.unsplash.com/photo-1682686580186-b55d2a91053c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1375&q=80");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#bands {
    list-style: inside square;
    font-size: 20px;
    background: white;
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#bands li:last-child {
    border-bottom: 0;
}

a {
    color: #ffc600;
    text-decoration: none;
}
